.contact__form {
    margin-top: 91px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form__form-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 69px;
}

.contact__form__right-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.contact__form__left-part {
    width: 40%;
}

.form-content__item {
    width: 100%;
}

.form-content__item {
    margin-bottom: 15px;
}

.form-content__item:last-child {
    margin-bottom: 0;
}



.contact__btn button:hover {
    background-color: rgba(236, 121, 121, 0.8);
}

.contact__form button {
    align-self: center;
}