.features__wrap {
    display: flex;
    justify-content: space-between;
}

.features__col-middle {
    width: 572px;
}

.tab {
    width: 7rem;
    height: 6.875rem;
    padding: 2.8125rem 2.1875rem;
    background-color: #333333;
    border-radius: 4px;
    margin-bottom: 10px;
}

.tab-action {
    background-color: rgba(236, 121, 121, 1);
}

.tab a {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.tab:last-child {
    margin-bottom: 0;
}

.features__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 58px;
}

.features__description {
   margin-bottom: 89px;
}

.features__description p:first-child {
    margin-bottom: 19px;
}

.features__description p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
}

.features__col-right__img {
    width: 20rem;
}

.features__col-right__img img {
    width: 100%;
}