.noname-section {
    position: relative;
    background-image: url("../img/background-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 57px 0 38px;
}

.noname-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
}

.noname-section__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noname-section__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.noname-section__title::after {
    content: "";
    width: 64px;
    height: 1px;
    display: block;
    margin: 2.125rem auto;
    background-color: #FFFFFF;
}

.noname-section__description {
    margin-bottom: 57px;
}

.noname-section__description p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}