.card-customer {
    font-family: 'Open Sans', sans-serif;
    margin: 0 15px;
    width: 298px;
    text-align: center;
}

.card-customer__text {
    background-color: #E2E2E2;
    padding: 9px 22px 6px;
    margin-bottom: 22px;
    border-radius: 7px;
    position: relative;
}

.card-customer__text::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #E2E2E2;
    position: absolute;
    top: 100%;
    left: 41px;
}

.card-customer__text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
}

.card-customer__img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-customer__img img {
    height: 100%;
}

.card-customer__info {
    display: flex;
    justify-content: space-around;
}

.card-customer__bio {
    text-align: end;
}

.card-customer__bio__name {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #333333;
    margin-bottom: 12px;
}

.card-customer__bio__author {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
}